tensorflow==2.17.0
numpy==1.26.0  # Adjust according to your needs, but make sure it's compatible with other libraries
streamlit==1.22.0  # Or any version you require
Pillow==10.0.0  # Or any version you require
joblib  # Latest version or specify if needed
scikit-learn  # Add latest version, or specify if needed
